body{
    background-color:rgb(216, 210, 210);
    color:rgb(246, 229, 229);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:auto;
    text-align:center;
}
h2{
    background-color: #867d73;
    width:100%;
    margin:auto;
    margin-top:40px;
    padding:10px;
    border:2px solid black;
}

h3{
    background-color:rgb(203, 190, 190);
    color:darkslategrey;
    padding:10px;
    width:500px;
    margin:20px auto;
    border:2px solid black;
}
table{
    width:100%;
    max-width:500px;
    margin:auto;
    text-align:center;
}
th,td{
    width:50%;
    text-align:center;
    padding:10px;
    border:2px solid #867d73;
    background-color: rgb(203, 190, 190);
    color:darkslategrey;
}
caption{
    margin:20px auto 10px;
    border:2px solid #867d73;
    padding:10px;
    font-size: 30px;
    background-color: rgb(203, 190, 190);
    color:darkslategrey;
}

img{
    border:2px solid #867d73;
    padding:10px;
    width:250px;
}